*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:url(../slot.jpeg);
	height: 100vh;
	background-size:cover;
	background-position: center;
}
#form{
	background-color: #000;
	height: 700px;
	width: 800px;
	margin: auto;
	margin-top: 10px;
	opacity: 0.7;
}
#first-group{
	border: 2px solid lime;
	width: 700px;
	margin-top: 38px;
	position: absolute;
}
#content{
	border: 1px solid #fff;
	margin: 20px;
	margin-left: 8px;
	padding: 5px;
}
#content #input-group{
	border: none;
	outline: none;
	background: transparent;
	margin-left: 8px;
	width: 300px;
	color: #fff;
}
::placeholder{
	color: #fff;
}
.fa{
	display: inline-block;
	color: red;
	border-right:2px solid #fff; 
	padding: 8px;
	margin-left: 4px;
}
#submt-btn{
	margin-top: 600px;
	margin-left: 200px;
	background: transparent;
	color: #fff;
	width: 150px;
	border:1px solid red;
	outline: none;
	padding: 10px;
	font-size: 20px;
}
.label{
	color: white;
}
h1{
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	margin-top:30px;
}